td.user {
  cursor: pointer;
}

.panel-heading {
  font-weight: semibold;
  font-size: 18;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

th {
width: 100%;
font-weight: semibold;
}

tr {
width: 100%;
font-weight: semibold;
}

thead {
  font-weight: semibold;
}

.table {
  width: 100%;
}

.node {
  font: 10px sans-serif;
}

.link {
  stroke: steelblue;
  stroke-opacity: 0.5;
  fill: none;
  pointer-events: none;
}

.my-custom-scrollbar {
position: relative;
height: 300px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

.main-page {
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

#graph {
  width: 200px;
  position: relative;
}

#linegraph {
  width: 45%;
}

div.col-md-6 div.panel.panel-default {
  width: 500px;
}

#circle circle {
  fill: none;
  pointer-events: all;
}

path.group {
  fill-opacity: .8;
}

path.chord {
  fill-opacity: .8;
  stroke: #000;
  stroke-width: .25px;
}

#circle:hover path.fade {
  display: none;
}
